@font-face {
	font-family: "Sansation";
	src: url("../fonts/Sansation_Regular.ttf") format("ttf"), url("../fonts/Sansation_Regular.woff") format("woff"), url("../fonts/Sansation_Regular.svg") format("svg"), url("../fonts/Sansation_Regular.eot") format("eot");
	font-weight: normal;
	font-style: normal;
}
  @font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik_Medium.ttf") format("ttf"), url("../fonts/Rubik_Medium.woff") format("woff"), url("../fonts/Rubik_Medium.svg") format("svg"), url("../fonts/Rubik_Medium.eot") format("eot");
	font-weight: 500;
	font-style: normal;
}

@keyframes header-animation {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes menu-button {
    from {
        transform: scale(1.5);				
    }

    to {
        transform: scale(1);
    }
}

@keyframes menu-button_before {
    from {
        transform: translateX(16px);
    }

    50% {
        transform: translateX(-3px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes menu-button_after {
    from {
        transform: translateX(-16px);
    }

    50% {
        transform: translateX(3px);
    }

    to {
        transform: translateX(0);
    }
}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

body {
	margin: 0;
	--color-text: #1E1E1E;
	--color-link: #ffffff;
	--color-link-hover: #1E1E1E;
	--color-menu-stroke: #ffffff;
	--color-menu-item: #1E1E1E;
	--color-explore: #ffffff;
	color: var(--color-text);
	font-family: Sansation, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: rgba(155, 130, 112, 0.6);
}

body.no-scroll {
	overflow-y: hidden;
}

.cursor {
	display: none;
}

main {
	width: 100%;
	overflow: hidden;
}

.header {
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 2560px;
	height: 1471px;
	background-color: rgba(155, 130, 112, 0.6);
	z-index: 1;
}
.header__row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 50px 20px 50px;
	position: absolute;
	width: 100%;
}

.header__logo-block {
	display: flex;
	align-items: center;
	z-index: 1;
}

.header__logo {
	animation: header-animation .5s ease;
	margin-right: 70px;
	z-index: 1;
}

.header__tel {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	animation: header-animation .5s ease;
}

.header__menu-button {
	position: relative;
	width: 60px;
	height: 60px;
	margin-left: auto;
	cursor: pointer;
	animation: header-animation .5s ease;
	z-index: 1000;
}

.header__menu-button span {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #fff;
	top: 45%;
	left: 55%;
	z-index: 2;
	animation: menu-button .8s ease;
}

.header__menu-button.active span {
	transform: scale(2);
	transition: .3s ease;
	background-color: #C6AB98;
}

.header__menu-button span:before,
.header__menu-button span:after {
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #fff;
}

.header__menu-button span:before {
	left: -16px;
	animation: menu-button_before .5s ease;
}

.header__menu-button span:after {
	left: 16px;
	animation: menu-button_after .5s ease;
}

.header__menu-button.active span:before {
	left: 0;
	background-color: transparent;
	transition: .3s ease;
}

.header__menu-button.active span:after {
	left: 0;
	background-color: transparent;
	transition: .3s ease;
}

.header-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
	background: rgba(155, 130, 112, 0.6);
    transition: all .8s ease;
	z-index: 998;
}
.header-menu__container {
	transform: translateX(100%);
	transition: transform .8s ease;
	top: 0;
	left: 50%;
	width: 50%;
	height: 1080px;
	position: absolute;
	background: linear-gradient(rgba(241, 234, 229, 1), rgba(241, 234, 229, 1)), 
	url('../img/line1.png') 100% 32% repeat-y, 
	url('../img/line2.png') 100% 32% repeat-y;
	background-blend-mode: color;
}

.header-menu__list {
	padding: 120px 120px;
	list-style: none;
}

.header-menu__item {
	margin-bottom: 80px;
}

.header-menu__link {
	font-family: 'Sansation';
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	color: #C6AB98;
}

.header-menu__link:hover {
	color: #E85253;
}

.header-menu__social-block {
	height: 40px;
}

.header-menu__container.active {
    transform: translateX(0);
    transition: transform .8s ease;
}
.visualyhidden {
	background-color: transparent;
    transition: background .8s ease;
}

.hidden {
	z-index: -1000;
}

.social-block {
	display: flex;
	padding-left: 120px;
}
.social-block__item {
	width: 40px;
	height: 40px;
	margin-right: 32px;
	cursor: pointer;
}
.item_inst {
	background: url('../img/icons/inst-icon.svg') 50% 50% no-repeat;
}

.item_wu {
	background: url('../img/icons/ws-icon.svg') 50% 50% no-repeat;
}

.item_yt {
	background: url('../img/icons/yt-icon.svg') 50% 50% no-repeat;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.menu-wrap {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
}

.page--preview ~ .menu-wrap {
	pointer-events: auto;
}

.menu-draggable {
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
	cursor: grab;
	z-index: 1;
}

.menu-draggable:active {
	cursor: grabbing;
}

.menu {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	align-items: center;
	justify-content: center;
	width: -moz-fit-content;
	width: fit-content;
	counter-reset: menu-number;
	pointer-events: none;
	will-change: transform;
	z-index: 2;
	transform: matrix(1, 0, 0, 1, -300, 0);
}

.menu__item {
	position: relative;
	text-align: center;
	margin: 0 10vw 0 0;
	--counter-opacity: 0;
	color: var(--color-menu-item);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu__item-contacts {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	font-family: Rubik;
	font-weight: 500;
	font-size: 48px;
	position: absolute;
	opacity: 0;
	will-change: transform;
}

.page--preview ~ .menu-wrap .menu__item {
	--counter-opacity: 1;
}

/* .menu__item::before {
	counter-increment: menu-number;
	content: counter(menu-number, decimal-leading-zero);
	position: absolute;
	top: 0;
	right: 100%;
	opacity: var(--counter-opacity);
	transition: opacity 0.3s;
} */

.menu__item--current {
	color: var(--color-menu-item);
}

.menu__item-link {
	color: currentColor;
	font-weight: bold;
	font-size: 150px;
	display: flex;
	line-height: 1.2;
}

.menu__item-explore {
	cursor: pointer;
	margin: 3.5rem 0 0 0;
	display: inline-block;
	color: var(--color-explore);
	background: #44C6CA;
	opacity: 0;
	padding: 1.5rem 3rem;
	will-change: transform;
	text-transform: uppercase;
	font-family: Rubik;
	font-weight: 500;
}

.menu__item-explore:hover,
.menu__item-explore:focus {
	color: #ffffff;
	background-color: #75dfe2;
}

.page--preview ~ .menu-wrap .menu__item--current .menu__item-explore {
	pointer-events: auto;
}

.letter {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.letter__inner {
	display: block;
	will-change: transform;
	-webkit-text-stroke: 1px var(--color-menu-stroke);
	text-stroke: 1px var(--color-menu-stroke);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
}

.letter__inner--stroke {
	position: absolute;
	left: 100%;
	top: 0;
	-webkit-text-stroke: 1px transparent;
	text-stroke: 1px transparent;
	-webkit-text-fill-color: #ffffff;
	text-fill-color: #ffffff;
	color: #ffffff;
}

.menu__item--current .letter__inner {
	transform: translate3d(-100%,0,0);
}

.grid-wrap {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 3rem 1fr;
	position: relative;
	padding: 13rem 5vw 2rem;
	pointer-events: none;
	/* display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	height: 100%;
	padding: 0; */
}

.gridback {
	align-self: start;
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	color: #fff;
	opacity: 0;
	pointer-events: auto;
}

.page--preview .gridback {
	pointer-events: none;
}

.gridback:hover {
	color: var(--color-link-hover);
}

.gridback:focus {
	outline: none;
}

.grid {
	grid-area: 1 / 2 / 3 / 1;
	--gridgap: 1vw;
	--gridwidth: 100%;
	--gridheight: 45vw;
	display: grid;
	width: var(--gridwidth);
	height: var(--gridheight);
	grid-template-rows: 1080px;
	grid-template-columns: 1920px;
	grid-gap: var(--gridgap);
	align-content: center;
    justify-content: center;
	position: relative;
	/* width: 1920px;
	height: 1080px;
	max-height: 100%;
	position: absolute; */
}

.grid__item-wrap {
	position: relative;
	will-change: transform;
}

.grid__item {
	opacity: 0;
	position: relative;
	width: 100%;
	height: auto;
	max-height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	will-change: transform;
}

.page--preview {
	position: relative;
	overflow: hidden;
	height: 100vh;
	pointer-events: none;
}

@media screen and (min-width: 53em) {
	.grid-wrap {
		grid-template-rows: 1.25rem 1fr;
		grid-gap: 3rem;
		padding: 2.5rem 3rem;
	}
	.grid {
		padding: 0 10vw;
	}
	.gridback {
		justify-self: end;
	}
}

/* @media (any-pointer: fine) {
	.cursor {
		display: block;
	}
	.cursor__inner {
		z-index: 9999;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: difference;
		border-radius: 50%;
	}
	.cursor__side {
		position: absolute;
		top: 50%;
		width: 5px;
		height: 1px;
		background: #de6565;
		opacity: 0;
	}
	.cursor__side--left {
		right: calc(100% + 5px);
	}
	.cursor__side--right {
		left: calc(100% + 5px);
	}
	.cursor__inner--circle {
		width: 25px;
		height: 25px;
		border: 1px solid #de6565;
	}
} */

.footer {
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	position: absolute;
	top: 95%;
	width: 100%;
	color: #fff;
	z-index: 2;
}
.footer__copy-text {
	font-family: 'Sansation';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.footer__umiks-link {
	font-family: 'Sansation';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer; 
}

@media (max-width: 968px) {
	.header {
		margin-bottom: 34px;
	}
	.header__title {
		font-family: 'Sansation';
		font-style: normal;
		font-weight: normal;
		font-size: 71.8548px;
		line-height: 80px;
		margin-top: 81px;
	}

	.header__button {
		padding: 19px 32px 19px 68px;
	}

	.title {
		font-family: 'Sansation';
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		line-height: 160%;
		margin-bottom: 30px;
	}

	.text {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 160%;
		width: 60%;
		margin-bottom: 30px;
	}

	.header-menu__container {
		background: linear-gradient(rgba(241, 234, 229, 1), rgba(241, 234, 229, 1)), 
		url('../img/line1.png') 190px 0 repeat-y, 
		url('../img/line2.png') 30px -80px repeat-y;
		background-blend-mode: color;
		height: 100%;
	}

	.header-menu__list {
		padding: 126px 0 40px 60px;
	}

	.header-menu__item {
		padding-bottom: 40px;
	}

	.header-menu__link {
		font-size: 24px;
		line-height: 27px;
	}

	.header-menu__social-block {
		padding-left: 60px;
	}

	.menu__item-link {
		font-size: 71.85px;
	}
}

@media (max-width: 680px) {
	.header__title {
		font-size: 53.9484px;
		line-height: 60px;
		margin-bottom: 40px;
		margin-top: 8px;
	}

	.header__row {
		align-items: flex-start;
		padding: 20px 20px 20px 20px;
	}

	.header__logo-block {
		padding-top: 15px;
		flex-direction: column;
		align-items: flex-start;
	}

	.header__logo {
		margin-bottom: 20px;
	}

	.header__button {
		margin-bottom: 58px;
	}
	.header-menu__container {
		background: linear-gradient(rgba(241, 234, 229, 1), rgba(241, 234, 229, 1)), 
		url('../img/line1.png') 300px 0 repeat-y, 
		url('../img/line2.png') 200px -80px repeat-y;
		background-blend-mode: color;
		width: 100%;
		height: 100%;
	}
	.header-menu__container.active {
		transform: translateX(-50%);
		transition: transform .8s ease;
	}

	.menu__item-link {
		font-size: 53.95px;
	}
	.footer {
		padding: 30px 20px;
		top: 90%;
	}

	.grid--layout-1 .grid__item {
		background: url('../img/background-1.png') 0 0 no-repeat;
	}
	.grid--layout-2 .grid__item {
		background: url('../img/background-2.jpg') 0 0 no-repeat;
	}
	.grid--layout-3 .grid__item {
		background: url('../img/background-3.jpg') 0 0 no-repeat;
	}
	.grid--layout-4 .grid__item {
		background: url('../img/background-4.jpg') 0 0 no-repeat;
	}
}

@media (max-width: 320px) {
	.header__title {
		font-size: 36px;
		line-height: 40px;
	}

	.header__tel {
		display: none;
	}

	.header__row {
		padding: 20px 20px 20px 20px;
	}

	.header__logo {
		margin-bottom: 0;
	}

	.header__button {
		margin-right: 0;
	}

	.menu__container {
		background: linear-gradient(rgba(241, 234, 229, 1), rgba(241, 234, 229, 1)), 
		url('../img/line1.png') 10px 0 repeat-y, 
		url('../img/line2.png') -160px -80px repeat-y;
		background-blend-mode: color;
	}

	.menu__item-link {
		font-size: 36px;
	}

	.footer {
		flex-direction: column-reverse;
		align-items: center;
		padding: 0;
	}
	.footer__umiks-link {
		margin-bottom: 10px;
	}

}