@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation_Regular.ttf") format("ttf"), url("../fonts/Sansation_Regular.woff") format("woff"), url("../fonts/Sansation_Regular.svg") format("svg"), url("../fonts/Sansation_Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sansation";
  src: url("../fonts/Sansation_Bold.ttf") format("ttf"), url("../fonts/Sansation_Bold.woff") format("woff"), url("../fonts/Sansation_Bold.svg") format("svg"), url("../fonts/Sansation_Bold.eot") format("eot");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik_Regular.ttf") format("ttf"), url("../fonts/Rubik_Regular.woff") format("woff"), url("../fonts/Rubik_Regular.svg") format("svg"), url("../fonts/Rubik_Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik_Medium.ttf") format("ttf"), url("../fonts/Rubik_Medium.woff") format("woff"), url("../fonts/Rubik_Medium.svg") format("svg"), url("../fonts/Rubik_Medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik_Bold.ttf") format("ttf"), url("../fonts/Rubik_Bold.woff") format("woff"), url("../fonts/Rubik_Bold.svg") format("svg"), url("../fonts/Rubik_Bold.eot") format("eot");
  font-weight: bold;
  font-style: normal;
}
@keyframes header-animation {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes menu-button {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes menu-button_before {
  from {
    transform: translateX(16px);
  }
  50% {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes menu-button_after {
  from {
    transform: translateX(-16px);
  }
  50% {
    transform: translateX(3px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes triangle-rotate {
  from {
    transform: rotate(-30deg) skewX(-30deg) scale(1, 0.866);
  }
  to {
    transform: rotate(330deg) skewX(-30deg) scale(1, 0.866);
  }
}
@keyframes square-rotate {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-315deg);
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Sansation", sans-serif;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.no-scroll {
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  background: linear-gradient(rgba(155, 130, 112, 0.6), rgba(155, 130, 112, 0.6)), url("../img/franchise.png") center/cover;
  margin-bottom: 85px;
}
.header__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 50px 20px 50px;
}
.header__logo-block {
  display: flex;
  align-items: center;
}
.header__logo {
  animation: header-animation 0.5s ease;
  margin-right: 70px;
}
.header__tel {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  animation: header-animation 0.5s ease;
}
.header__menu-button {
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
}
.header__menu-button span {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  top: 45%;
  left: 55%;
  z-index: 2;
  animation: menu-button 0.8s ease;
}
.header__menu-button.active span {
  transform: scale(2);
  transition: 0.3s ease;
  background-color: #C6AB98;
}
.header__menu-button span:before, .header__menu-button span:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header__menu-button span:before {
  left: -16px;
  animation: menu-button_before 0.5s ease;
}
.header__menu-button span:after {
  left: 16px;
  animation: menu-button_after 0.5s ease;
}
.header__menu-button.active span:before {
  left: 0;
  background-color: transparent;
  transition: 0.3s ease;
}
.header__menu-button.active span:after {
  left: 0;
  background-color: transparent;
  transition: 0.3s ease;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  font-family: "Sansation";
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 168px;
  color: #fff;
  margin: 93px 0 60px 0;
  padding: 0;
}
.header__button {
  text-align: right;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 24px 57px 24px 93px;
  background: url("../img/icons/arrow.svg") 32% 51% no-repeat, #44C6CA;
  cursor: pointer;
  margin-bottom: 94px;
  text-transform: uppercase;
  margin-right: 40px;
}
.header__button:hover {
  background-color: #5AD5D8;
}

.header.production {
  background: linear-gradient(rgba(155, 130, 112, 0.7), rgba(155, 130, 112, 0.7)), url("../img/production.png") center/cover;
}

.header.advantages-img {
  background: linear-gradient(rgba(155, 130, 112, 0.7), rgba(155, 130, 112, 0.7)), url("../img/advantages.png") center/cover;
}

.header.contacts-img {
  background: linear-gradient(rgba(155, 130, 112, 0.7), rgba(155, 130, 112, 0.7)), url("../img/contacts.png") center/cover;
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(155, 130, 112, 0.6);
  transition: background 0.8s ease;
}
.menu__container {
  transform: translateX(100%);
  transition: transform 0.8s ease;
  top: 0;
  left: 50%;
  width: 50%;
  height: 1080px;
  position: absolute;
  background: linear-gradient(#f1eae5, #f1eae5), url("../img/line1.png") 100% 32% repeat-y, url("../img/line2.png") 100% 32% repeat-y;
  background-blend-mode: color;
}
.menu__list {
  padding: 120px 120px;
}
.menu__item {
  padding-bottom: 80px;
}
.menu__link {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #C6AB98;
}
.menu__link:hover {
  color: #E85253;
}
.menu__social-block {
  height: 40px;
}

.active {
  transform: translateX(0);
  transition: transform 0.8s ease;
}

.hidden {
  background-color: transparent;
  transition: background 0.8s ease;
  z-index: -9999;
}

.social-block {
  display: flex;
  padding-left: 120px;
}
.social-block__item {
  width: 40px;
  height: 40px;
  margin-right: 32px;
  cursor: pointer;
}
.social-block__item_inst {
  background: url("../img/icons/inst-icon.svg") 50% 50% no-repeat;
}
.social-block__item_wu {
  background: url("../img/icons/ws-icon.svg") 50% 50% no-repeat;
}
.social-block__item_yt {
  background: url("../img/icons/yt-icon.svg") 50% 50% no-repeat;
}

.main__container {
  max-width: 965px;
  margin: 0 auto;
  padding: 0 0 0 15px;
}
.main__subtitle {
  display: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #C6AB98;
}

.title {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #000000;
  margin: 26px 0 57px 0;
}

.text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: #000000;
  width: 90%;
}

.business {
  width: 100%;
}
.business__title {
  margin-bottom: 60px;
}
.business__text {
  margin-bottom: 29px;
}
.benefit {
  display: flex;
  background: #F1ECE9;
  padding: 50px 0 9px 0;
  margin-bottom: 110px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.benefit__column {
  flex: 1 1 50%;
  margin-bottom: 41px;
}
.benefit__item {
  margin-bottom: 41px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  padding-left: 72px;
  background: url("../img/icons/check.svg") 40px 50% no-repeat;
}
.benefit__item:last-child {
  margin: 0;
}

.form {
  margin-bottom: 110px;
}
.form__text {
  margin-bottom: 30px;
  width: 80%;
}
.form__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 40px;
}
.form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
.form__button {
  width: 257px;
  height: 65px;
  background-color: #000;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
}
.form__button_submit {
  width: 176px;
}
.form__button:hover {
  background-color: #fff;
  color: #000;
}
.form__input {
  color: #000;
  padding-left: 20px;
  background: #79C5C7;
  height: 55px;
  border: 1px solid #000;
  flex: 1 1 50%;
  margin-right: 16px;
}
.form__input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.form__input:last-child {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 40px;
  background: #79C5C7;
}

.calculator__title {
  margin-bottom: 61px;
}
.calculator__city-check {
  position: relative;
}
.calculator__text-select {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #C6AB98;
  margin-bottom: 15px;
}
.calculator__select {
  width: 100%;
  height: 55px;
  border: 1px solid #C6AB98;
  color: #C6AB98;
  padding-left: 20px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-bottom: 90px;
}
.calculator__img {
  position: absolute;
  right: 20px;
  padding: 25px 0;
}
.calculator__subtitle {
  margin-bottom: 28px;
}
.calculator__subtitle:nth-child(3) {
  margin-bottom: 20px;
}
.subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.number-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 65px;
  padding-right: 42px;
}
.number-block__item {
  margin-right: 20px;
}
.number-block__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #C6AB98;
}
.number-block__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 5px;
}
.number-block__value {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.number-block__value_profit {
  color: #79C5C7;
}

.thumb-slider {
  width: 100%;
  background: #F1ECE9;
  border: 1px solid #E1D7D0;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  margin-bottom: 58px;
}
.thumb-slider__value {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  overflow: hidden;
  padding-top: 1px;
}
.thumb-slider__input {
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  border-radius: 8px;
  background: linear-gradient(90deg, #2CD4D9 0%, #D8C4B6 50%, #14f9ff 50.1%);
  border: none;
  margin: 20px 0;
  padding: 0;
  cursor: pointer;
  transition: all 1s ease;
}
.thumb-slider__input::-webkit-slider-runnable-track {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.thumb-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.31);
  margin-top: 0;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.thumb-slider__input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}
.thumb-slider__input::-ms-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}
.thumb-slider__number-block {
  display: flex;
  justify-content: space-between;
}
.thumb-slider__element {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #C6AB98;
}

.inform {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.inform__row {
  display: flex;
  margin-bottom: 12px;
  margin-top: 5px;
}
.inform__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #E1D7D0;
  flex: 1 1 50%;
  margin: 0 20px 0 0;
  padding: 20px 4.5%;
}
.inform__item:last-child {
  margin: 0;
}
.inform__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #E85253;
  margin-bottom: 5px;
}
.inform__subtitle_mod {
  color: #44C6CA;
}
.inform__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}
.inform__price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.result {
  margin-bottom: 62px;
}
.result__item {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.franchise-request {
  margin-bottom: 316px;
}

.about-us {
  position: relative;
  margin-top: 300px;
  margin-bottom: 365px;
}
.about-us__background {
  width: 1920px;
  height: 673px;
  position: absolute;
  top: -54%;
  left: -52%;
  z-index: -99;
  background-color: rgba(155, 130, 112, 0.7);
}
.about-us__video {
  position: absolute;
  height: 673px;
  top: -54%;
  left: -52%;
  z-index: -100;
}
.about-us__title {
  color: #fff;
  margin-bottom: 60px;
}
.about-us__text {
  color: #fff;
  margin-bottom: 40px;
  width: 100%;
}

.map {
  position: relative;
  margin-bottom: 980px;
}
.map__img {
  position: absolute;
  left: -50%;
}

.feedback {
  margin-bottom: 246px;
}
.feedback__container {
  display: flex;
  flex-direction: column;
}
.feedback__track {
  display: flex;
}
.feedback__item {
  margin-right: 20px;
}
.feedback__text {
  margin-top: 29px;
  margin-bottom: 97px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
}

.statistics {
  position: relative;
}
.statistics__background {
  width: 1920px;
  height: 827px;
  position: absolute;
  top: -70px;
  left: -500px;
  background-color: #F1ECE9;
  z-index: -100;
}
.statistics__row {
  display: flex;
}
.statistics__row:last-child {
  margin-bottom: 108px;
}
.statistics__item {
  flex: 1 1 50%;
  margin-bottom: 90px;
  padding-left: 70px;
}
.statistics__item_income {
  background: url("../img/icons/income.svg") 0 0 no-repeat;
}
.statistics__item_prod {
  background: url("../img/icons/prod.svg") 0 0 no-repeat;
}
.statistics__item_cloth {
  background: url("../img/icons/cloth.svg") 0 0 no-repeat;
}
.statistics__item_arrow {
  background: url("../img/icons/fullscreen-arr.svg") 0 0 no-repeat;
}
.statistics__item_mark {
  background: url("../img/icons/mark.svg") 0 0 no-repeat;
}
.statistics__item_user {
  background: url("../img/icons/user-clock.svg") 0 0 no-repeat;
}
.statistics__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #E85253;
}
.statistics__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  width: 80%;
}

.products {
  margin-bottom: 150px;
}
.products__text {
  width: 95%;
  margin-bottom: 40px;
}
.products__text:last-child {
  margin-bottom: 59px;
}
.products__img-block {
  display: flex;
}
.products__column {
  margin-right: 20px;
}
.products__img {
  margin-bottom: 20px;
}

.knitwear {
  margin-bottom: 211px;
}
.knitwear__stats {
  display: flex;
  flex-direction: column;
}
.knitwear__item {
  position: relative;
  width: 50%;
}
.knitwear__item_price {
  align-self: start;
}
.knitwear__item_extra {
  margin: 0px 65px 160px auto;
}
.knitwear__item_assort {
  margin: 0 -140px 0 auto;
}
.knitwear__shape_circle {
  width: 215px;
  height: 215px;
  background-color: rgba(121, 197, 199, 0.5);
  border-radius: 50%;
  margin-bottom: 48px;
}
.knitwear__shape_triangle {
  position: relative;
  text-align: left;
  background-color: #f4a9a9;
  animation-name: triangle-rotate;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.knitwear__shape_triangle:before, .knitwear__shape_triangle:after {
  content: "";
  position: absolute;
  background-color: #f4a9a9;
}
.knitwear__shape_triangle, .knitwear__shape_triangle:before, .knitwear__shape_triangle:after {
  width: 140px;
  height: 140px;
  border-top-right-radius: 35%;
}
.knitwear__shape_triangle {
  transform: rotate(-30deg) skewX(-30deg) scale(1, 0.866);
}
.knitwear__shape_triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
.knitwear__shape_triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.knitwear__shape_square {
  width: 207px;
  height: 207px;
  background: #F1ECE9;
  border-radius: 38px;
  transform: rotate(45deg);
  animation-name: square-rotate;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.knitwear__text-block {
  position: absolute;
}
.knitwear__text-block_circle {
  top: 27.6%;
  left: 22.5%;
}
.knitwear__text-block_triangle {
  top: 49%;
  left: 11.5%;
}
.knitwear__text-block_square {
  top: 32%;
  left: 22%;
}
.knitwear__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}
.knitwear__price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 41px;
  line-height: 43px;
}

.format {
  margin-bottom: 269px;
}
.format__title {
  margin-bottom: 61px;
}
.format__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  margin-bottom: 30px;
}
.format__list-block {
  padding: 51px 10px 22px 0;
  background-color: #F1ECE9;
}
.format__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 74px;
  background: url("../img/icons/check.svg") 4.5% 50% no-repeat;
}

.coop-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 295px;
}
.coop-slider__background {
  position: absolute;
  top: -120px;
  left: -500px;
  width: 1920px;
  height: 599px;
  background-color: #F1ECE9;
  z-index: -2;
}
.coop-slider__title {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 160%;
  margin-bottom: 74px;
}
.coop-slider__container {
  display: flex;
  justify-content: space-between;
}
.coop-slider__item {
  padding-right: 283px;
  background: url("../img/icons/coop-slider__arr.svg") 74.5% 27% no-repeat;
}
.coop-slider__subtitle {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #E85253;
  margin-bottom: 3px;
}
.coop-slider__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 201px;
}
.coop-slider__buttons {
  display: flex;
  align-self: center;
}
.coop-slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 70px;
  background-color: #C6AB98;
  margin-right: 1px;
  cursor: pointer;
}
.coop-slider__button:hover {
  transform: scaleY(1.1);
  background-color: #E85253;
}
.coop-slider__button:last-child .coop-slider__btn-arr {
  transform: rotate(180deg);
}
.coop-slider__btn-arr {
  width: 17px;
  height: 33px;
}

.advantages {
  margin-bottom: 380px;
}
.advantages__title {
  font-family: "Sansation";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 160%;
  margin-bottom: 37px;
}
.advantages__list-block {
  background-color: #F1ECE9;
  padding: 50px 46px 20px 0;
  margin-bottom: 148px;
}
.advantages__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  width: 100%;
  padding: 0 0 31px 74px;
  background: url("../img/icons/check.svg") 4.5% 10% no-repeat;
}
.advantages__video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.advantages__video-iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.examples {
  margin-bottom: 77px;
}
.examples__img-block {
  margin-bottom: 71px;
}
.examples__img {
  margin-bottom: 15px;
}
.examples__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}

.excursion__text-block {
  width: 90%;
}
.excursion__title {
  margin-bottom: 59px;
}
.excursion__text {
  margin-bottom: 35px;
}
.excursion__text p:last-child {
  margin: 0;
}
.excursion__bottom-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #C6AB98;
  margin-bottom: 59px;
}
.excursion__form {
  margin-bottom: 170px;
}

.form__button_exsubmit {
  width: 190px;
}

.production {
  position: relative;
}
.production__subtitle {
  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 160%;
  width: 90%;
  margin-bottom: 60px;
}
.production__subtitle_small {
  width: 70%;
}
.production__img-block {
  max-width: 2560px;
}
.production__img {
  padding-top: 34.720625%;
  height: 300.034px;
  background-size: cover;
  -moz-background-size: cover;
  /* Firefox 3.6 */
  background-position: center;
  /* Internet Explorer 7/8 */
  margin-bottom: 170px;
}
.production__img_1 {
  background-image: url("../img/production-1.png");
}
.production__img_2 {
  background-image: url("../img/production-2.png");
}
.production__img_3 {
  background-image: url("../img/production-4.png");
  margin-bottom: 60px;
}
.production__img_school {
  margin-top: 10px;
  margin-bottom: 30px;
}
.production__slider {
  margin-bottom: 170px;
}
.production__text {
  margin-bottom: 170px;
  width: 50%;
}

.slider__container {
  display: flex;
  margin-bottom: 101px;
}
.slider__item {
  margin-right: 20px;
}
.slider__img {
  margin-bottom: 30px;
}
.slider__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  width: 60%;
}
.slider__dots {
  display: flex;
  justify-content: center;
}
.slider__dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #E1D7D0;
  cursor: pointer;
  margin-right: 25px;
}
.slider__dot:hover {
  background-color: #79C5C7;
}

.contacts {
  margin-bottom: 60px;
}
.contacts__address {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  width: 60%;
  margin-top: 25px;
  margin-bottom: 110px;
}
.contacts__contacts-block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 112px;
}
.contacts__tel {
  margin-right: 107px;
}
.contacts__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #C6AB98;
  margin-bottom: 17px;
}
.contacts__text_bold {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #C6AB98;
}
.contacts__tel-number {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 160%;
}
.contacts__email-address {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 160%;
}
.contacts__social-bl {
  display: flex;
  justify-content: space-between;
}
.contacts__social {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 7px 0 5px 49px;
}
.contacts__social_instagram {
  background: url("../img/icons/inst-contact.svg") no-repeat;
}
.contacts__social_whatsup {
  background: url("../img/icons/wa-contact.svg") no-repeat;
}
.contacts__social_youtube {
  background: url("../img/icons/yt-contact.svg") no-repeat;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.footer__copy-text {
  font-family: "Sansation";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.footer__umiks-link {
  font-family: "Sansation";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  cursor: pointer;
}

@media (max-width: 968px) {
  .header {
    margin-bottom: 34px;
  }
  .header__title {
    font-family: "Sansation";
    font-style: normal;
    font-weight: normal;
    font-size: 71.8548px;
    line-height: 80px;
    margin-top: 81px;
  }
  .header__button {
    padding: 19px 32px 19px 68px;
  }

  .title {
    font-family: "Sansation";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 160%;
    margin-bottom: 30px;
  }

  .text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    width: 60%;
    margin-bottom: 30px;
  }

  .menu__container {
    background: linear-gradient(#f1eae5, #f1eae5), url("../img/line1.png") 190px 0 repeat-y, url("../img/line2.png") 30px -80px repeat-y;
    background-blend-mode: color;
    height: 100%;
  }
  .menu__list {
    padding: 126px 0 40px 60px;
  }
  .menu__item {
    padding-bottom: 40px;
  }
  .menu__link {
    font-size: 24px;
    line-height: 27px;
  }
  .menu__social-block {
    padding-left: 60px;
  }

  .main__container {
    max-width: 968px;
    padding: 0 50px;
  }

  .form {
    margin-bottom: 60px;
  }
  .form__title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
  }
  .form__button {
    margin-top: 10px;
  }
  .form__input {
    height: 55px;
  }

  .calculator__select {
    margin-bottom: 60px;
  }

  .subtitle {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
  }

  .number-block {
    margin-bottom: 60px;
  }
  .number-block__value {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .thumb-slider {
    margin-bottom: 60px;
  }

  .about-us {
    margin-top: 263px;
    margin-bottom: 263px;
  }
  .about-us__background {
    width: 968px;
    height: 520px;
    top: -54%;
    left: -7.6%;
  }
  .about-us__video {
    height: 520px;
    top: -54%;
    left: -7.6%;
  }
  .about-us__title {
    margin-bottom: 30px;
  }
  .about-us__text {
    margin-bottom: 20px;
    width: 80%;
  }

  .map {
    margin-bottom: 510px;
  }
  .map__img {
    width: 968px;
    left: -9%;
  }

  .feedback {
    margin-bottom: 150px;
  }
  .feedback__video {
    width: 640px;
    height: 406px;
  }
  .feedback__text {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .statistics__title {
    margin-bottom: 50px;
  }
  .statistics__background {
    width: 968px;
    height: 562px;
    left: -7.5%;
    top: -8%;
  }
  .statistics__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .statistics__text {
    font-size: 16px;
    width: 170px;
  }
  .statistics__row:last-child {
    margin-bottom: 30px;
  }
  .statistics__item {
    margin-bottom: 50px;
  }
  .statistics__item_prod p {
    width: 220px;
  }
  .statistics__item_income p {
    width: 170px;
  }
  .statistics__item_cloth p {
    width: 183px;
  }
  .statistics__item_arrow p {
    width: 185px;
  }
  .statistics__item_mark p {
    width: 174px;
  }

  .products {
    margin-bottom: 100px;
  }
  .products__text:last-child {
    margin-bottom: 30px;
  }
  .products__img {
    width: 100%;
  }

  .knitwear {
    margin-bottom: 100px;
  }
  .knitwear__shape_circle {
    width: 160px;
    height: 160px;
  }
  .knitwear__shape_triangle, .knitwear__shape_triangle:before, .knitwear__shape_triangle:after {
    width: 90px;
    height: 90px;
    border-top-right-radius: 35%;
  }
  .knitwear__shape_square {
    width: 160px;
    height: 160px;
  }
  .knitwear__subtitle {
    margin: 0;
  }
  .knitwear__price {
    font-size: 24px;
  }

  .format {
    margin-bottom: 140px;
  }
  .format__subtitle {
    margin-bottom: 40px;
  }
  .format__text {
    width: 100%;
  }

  .coop-slider {
    margin-bottom: 200px;
  }
  .coop-slider__background {
    height: 429px;
    top: -13%;
  }
  .coop-slider__title {
    width: 70%;
    margin-bottom: 108px;
  }
  .coop-slider__text {
    font-size: 16px;
    line-height: 19px;
    width: 180px;
  }
  .coop-slider__item {
    height: 46px;
    margin-bottom: 65px;
  }

  .advantages {
    margin-bottom: 100px;
  }
  .advantages__title {
    width: 75%;
  }
  .advantages__text {
    width: 100%;
    padding-bottom: 0;
  }
  .advantages__list-block {
    margin-bottom: 80px;
  }
  .examples__img {
    width: 868px;
  }

  .franchise-request {
    margin-bottom: 30px;
  }

  .excursion__text {
    margin: 0;
    width: 80%;
  }
  .excursion__bottom-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .production__subtitle {
    width: 60%;
    font-size: 18px;
  }
  .production__text {
    width: 40%;
    margin-bottom: 100px;
  }
  .production__img_school {
    object-fit: contain;
    width: 100%;
  }

  .slider {
    margin-bottom: 100px;
  }
  .slider__container {
    margin-bottom: 60px;
  }
  .slider__img {
    width: 640px;
    height: 406px;
    margin-bottom: 30px;
  }
  .slider__text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 0;
  }
  .slider__dot {
    width: 10px;
    height: 10px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 60px;
    width: 40%;
  }
  .contacts__text {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 129px;
  }
  .contacts__text_bold {
    font-size: 16px;
  }
  .contacts__contacts-block {
    margin-bottom: 60px;
  }
  .contacts__tel-number {
    font-size: 24px;
  }
  .contacts__email-address {
    font-size: 24px;
  }
}
@media (max-width: 680px) {
  .header__title {
    font-size: 53.9484px;
    line-height: 60px;
    margin-bottom: 40px;
    margin-top: 8px;
  }
  .header__row {
    align-items: flex-start;
    padding: 20px 20px 20px 20px;
  }
  .header__logo-block {
    padding-top: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  .header__button {
    margin-bottom: 58px;
  }

  .menu__container {
    background: linear-gradient(#f1eae5, #f1eae5), url("../img/line1.png") 300px 0 repeat-y, url("../img/line2.png") 200px -80px repeat-y;
    background-blend-mode: color;
    width: 100%;
    height: 100%;
  }

  .active {
    transform: translateX(-50%);
    transition: transform 0.8s ease;
  }

  .main__container {
    max-width: 680px;
    padding: 0 20px;
  }

  .form__input {
    flex: none;
    height: 55px;
    margin: 0;
    margin-bottom: 20px;
  }

  form {
    padding: 40px 20px 40px;
  }

  .number-block {
    flex-wrap: wrap;
  }
  .number-block__item {
    margin-bottom: 20px;
  }

  .inform__row {
    margin-bottom: 10px;
  }
  .inform__text {
    margin-bottom: 10px;
  }
  .inform__item {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    padding: 23px 15px;
  }

  .about-us {
    margin-top: 263px;
    margin-bottom: 263px;
  }
  .about-us__background {
    width: 680px;
    height: 520px;
    top: -54%;
    left: -3.2%;
  }
  .about-us__video {
    height: 520px;
    top: -54%;
    left: -52%;
  }
  .about-us__title {
    margin-bottom: 30px;
  }
  .about-us__text {
    margin-bottom: 40px;
    width: 100%;
  }

  .map {
    margin-bottom: 400px;
  }
  .map__img {
    width: 680px;
    left: -3%;
  }

  .statistics {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .statistics__background {
    height: 1368px;
    top: -20px;
  }
  .statistics__row {
    display: flex;
    flex-direction: column;
  }
  .statistics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0 0 0;
  }
  .statistics__item_income {
    background: url("../img/icons/income.svg") 50% 0 no-repeat;
  }
  .statistics__item_prod {
    background: url("../img/icons/prod.svg") 50% 0 no-repeat;
  }
  .statistics__item_cloth {
    background: url("../img/icons/cloth.svg") 50% 0 no-repeat;
  }
  .statistics__item_arrow {
    background: url("../img/icons/fullscreen-arr.svg") 50% 0 no-repeat;
  }
  .statistics__item_mark {
    background: url("../img/icons/mark.svg") 50% 0 no-repeat;
  }
  .statistics__item_user {
    background: url("../img/icons/user-clock.svg") 50% 0 no-repeat;
  }
  .statistics__subtitle {
    margin: 0;
  }

  .products__text {
    width: 80%;
  }

  .knitwear .knitwear__item {
    margin: 0 auto;
    align-items: center;
  }
  .knitwear .knitwear__shape_circle {
    margin: 0 auto 80px -10px;
  }
  .knitwear .knitwear__shape_triangle {
    margin: 0 auto 140px 60px;
  }
  .knitwear .knitwear__text-block {
    width: 200%;
    text-align: center;
  }
  .knitwear .knitwear__text-block_circle {
    top: 27.6%;
    left: -50%;
  }
  .knitwear .knitwear__text-block_triangle {
    top: 18%;
    left: -49%;
  }
  .knitwear .knitwear__text-block_square {
    top: 32%;
    left: -45%;
  }
  .knitwear .knitwear__price {
    font-size: 30px;
  }

  .format {
    margin-bottom: 100px;
  }
  .format__list-block {
    padding: 15px 20px 10px 0;
  }
  .format__text:first-child {
    padding-top: 25px;
  }
  .format__text {
    padding-left: 54px;
    margin-bottom: 30px;
  }

  .coop-slider {
    margin-bottom: 260px;
  }
  .coop-slider__background {
    height: 429px;
  }
  .coop-slider__title {
    margin-top: 0;
    width: 400px;
  }
  .coop-slider__buttons {
    margin-top: 25px;
    left: 30%;
  }

  .advantages__list-block {
    padding: 40px 0 10px 0;
  }
  .advantages__text {
    padding-left: 40px;
    background-position: 2% 8%;
  }
  .advantages__text:nth-child(4) {
    margin-bottom: 25px;
  }
  .advantages__text:last-child {
    padding-top: 5px;
  }
  .examples__img-block {
    margin-bottom: 60px;
  }
  .examples__img {
    width: 640px;
    height: 385px;
  }
  .examples__text {
    width: 80%;
  }

  .excursion__text {
    width: 90%;
  }

  .form__row {
    flex-direction: column;
  }
  .form__button {
    width: 100%;
    margin-right: 0;
  }

  .production__subtitle {
    width: 80%;
  }
  .production__img {
    margin-bottom: 100px;
  }
  .production__img_3 {
    margin-bottom: 30px;
  }
  .production__text {
    width: 50%;
  }

  .contacts__address {
    width: 60%;
  }
  .contacts__contacts-block {
    flex-wrap: wrap;
  }
  .contacts__text {
    width: 70%;
    margin-right: 45px;
  }
  .contacts__tel {
    margin: 0;
  }
  .contacts__social-bl {
    flex-direction: column;
  }
  .contacts__social {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .contacts__social:last-child {
    margin-bottom: 0;
  }

  .footer {
    padding: 30px 20px;
  }
}
@media (max-width: 320px) {
  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
  .header__tel {
    display: none;
  }
  .header__row {
    padding: 20px 20px 20px 20px;
  }
  .header__logo {
    margin-bottom: 0;
  }
  .header__button {
    margin-right: 0;
  }

  .menu__container {
    background: linear-gradient(#f1eae5, #f1eae5), url("../img/line1.png") 10px 0 repeat-y, url("../img/line2.png") -160px -80px repeat-y;
    background-blend-mode: color;
  }

  .active {
    transform: translateX(-50%);
    transition: transform 0.8s ease;
  }

  .main__container {
    max-width: 320px;
  }

  .benefit {
    display: flex;
    flex-direction: column;
  }
  .benefit__column {
    margin-bottom: 30px;
  }

  .form__button {
    width: 100%;
    height: 65px;
    margin: 10px 20px 0 20px;
  }
  .form__input {
    height: 55px;
    margin-bottom: 20px;
  }

  .number-block {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .number-block__item {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .thumb-slider {
    padding-left: 20px;
    padding-right: 20px;
  }
  .thumb-slider__element {
    display: none;
  }
  .thumb-slider__element:first-child, .thumb-slider__element:last-child {
    display: block;
  }

  .about-us {
    margin-top: 185px;
    margin-bottom: 185px;
  }
  .about-us__background {
    width: 320px;
    height: 520px;
    left: -7%;
    top: -18%;
  }
  .about-us__video {
    height: 520px;
    top: -18%;
  }

  .map {
    margin-bottom: 200px;
  }
  .map__img {
    width: 320px;
    left: -5%;
  }

  .feedback {
    margin-bottom: 100px;
  }
  .feedback__video {
    width: 280px;
    height: 178px;
  }

  .products__text {
    width: 100%;
  }
  .products__img-block {
    flex-direction: column;
  }
  .products__column {
    margin-right: 0;
  }
  .products__img {
    height: 295px;
  }

  .format {
    margin-bottom: 140px;
  }
  .format__text:first-child {
    background-position: 10% 20%;
  }
  .format__text {
    background-position: 10% 10%;
  }

  .coop-slider {
    margin-bottom: 160px;
  }
  .coop-slider__title {
    width: 100%;
  }
  .coop-slider__background {
    height: 510px;
  }
  .coop-slider__item {
    padding-bottom: 100px;
    margin-bottom: 70px;
    background-position: 0 85%;
  }
  .coop-slider__buttons {
    margin-top: 0;
  }
  .coop-slider__button {
    width: 97px;
    height: 52px;
    align-items: center;
  }
  .coop-slider__btn-arr {
    width: 14px;
    height: 25px;
  }

  .advantages__title {
    width: 100%;
  }
  .advantages__text {
    width: 100%;
    background-position: 5% 3%;
  }
  .examples__img {
    width: 280px;
    height: 169px;
  }
  .examples__text {
    width: 100%;
  }

  .excursion__text {
    margin-bottom: 30px;
    width: 80%;
  }
  .excursion__bottom-text {
    width: 110%;
  }

  .franchise-request {
    margin-bottom: 100px;
  }

  .franchise-request_last {
    margin-bottom: 30px;
  }

  .production__subtitle {
    line-height: 160%;
    width: 100%;
  }
  .production__text {
    width: 100%;
  }

  .slider__img {
    width: 280px;
    height: 178px;
  }
  .slider__text {
    width: 100%;
  }
  .slider__container {
    margin-bottom: 60px;
  }

  .contacts__address {
    width: 100%;
  }
  .contacts__contacts-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts__text {
    width: 100%;
    margin-right: 0;
  }
  .contacts__tel {
    margin-bottom: 60px;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__umiks-link {
    margin-bottom: 20px;
  }
}