@keyframes header-animation {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes menu-button {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes menu-button_before {
  from {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes menu-button_after {
  from {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(3px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes menu-animation {
  from {
    transform: translateX(960px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes menu-animation_back {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(960px);
  }
}